body {
    background-color: #00296B;
    height: 100%;
    margin: 0;
    color: #FDC500;
}

.wrapper {
    display: grid;
    height: 100%;
    grid-template-rows: 10rem 1fr;
    align-items: center;
    justify-items: center;
}       

h1 { font-size: 4rem; }
h2 { text-align: center; font-size: 2.5rem; }

p {
    font-size: 1rem;
    text-align: center;
    color: #FFD500;
}

a:hover {
    opacity: 0.7;
}

input {
    border: none;
    border-bottom: solid 0.1rem #FFD500;
    background-color: #00296B;
    color: #FFD500;
    margin-top: 1rem;
    margin-left: 4.3rem;
}

button {
    border: solid 0.15rem #FFD500;
    background-color: #00296B;
    color: #FFD500;
    margin: 1rem 0 0 7.4rem;
}

details {
    display: grid;
    line-height: 3rem;
}

summary {
    font-size: 1.8rem; 
    color: #FDC500; 
    text-align: center;
}

summary:focus {
    outline: none;
}