html {
    height: 100%;
}

body {
    background-color: #00296B;
    height: 100%;
    margin: 0;
}

.wrapper {
    display: grid;
    height: 100%;
    grid-template-rows: 10rem 25rem;
    align-items: center;
    justify-items: center;
}       

h1 {
    font-size: 4rem;
    color: #FDC500;
}

p, a {
    color: #FFD500;
}

a:hover {
    opacity: 0.7;
}

input {
    border: none;
    border-bottom: solid 0.1rem #FFD500;
    background-color: #00296B;
    color: #FFD500;
}

button {
    border: solid 0.1rem #FFD500;
    background-color: #00296B;
    color: #FFD500;
}

details {
    display: grid;
    grid-template-rows: 2rem 1rem;
    line-height: 3rem;
}

details div {
    margin: 1rem 0 1rem 0;
}

summary {
    font-size: 1.8rem; 
    color: #FDC500; 
}