/* Main */
html {
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
    margin: 0;
}

.wrapper {
    display: grid;
    height: 100%;
    grid-template-rows: 10rem 25rem;
    align-items: center;
    justify-items: center;
}

h1 {
    font-size: 4rem;
    color: #55A630;
}

/* Main elements */
main {
    display: grid;
}

#result {
    width: 21rem;
    height: 4.2rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #55A630;
    background-color: black;
    border: solid 2px #2B9348;
    padding: 1rem;
}

#second_row input,
#third_row input,
#fourth_row input,
#fifth_row input {
    width: 3.665rem;
    height: 4.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #2B9348;
    background-color: black;
    border: solid 2px #2B9348;
    margin-bottom: 0.15rem;
}

#solve {
    width: 7.6rem;
    height: 4.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #CAF0F8;
    background-color: #55A630;
    border: none;
}

#second_row input:hover,
#third_row input:hover,
#fourth_row input:hover,
#firstCol:hover, #secondCol:hover, 
#thirdCol:hover, #fourthCol:hover {
    opacity: 0.8;
}

#solve:hover {
    opacity: 0.8;
}


/* Media */
@media (max-width: 480px) {
    .wrapper {
        grid-template-rows: 20% 40%;
    }

    h1 {
        font-size: 2.8rem;
    }

    #first_row {
        text-align: center;
    }
    
    #result {
        width: 11.2rem;
        height: 2.2rem;
        font-size: 1.2rem;
    }
    
    #second_row input,
    #third_row input,
    #fourth_row input,
    #fifth_row input {
        width: 2.03rem;
        height: 3rem;
        font-size: 0.7rem;
    }
    
    #solve {
        width: 4.3rem;
        height: 3rem;
        font-size: 0.7rem;
    }
}